.dds-title {
  text-align: center;
  margin: 20px 0;
}

.dds-title h2 {
  display: inline;
  margin-right: 10px;
}

.react-logo {
  width: 45px;
  height: 45px;
  vertical-align: middle;
  animation: spin 2s linear infinite;
}

#results canvas {
  max-width: 100%;
  height: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}